################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle/Webgentle/bin/Debug/netcoreapp3.1
/Webgentle/Webgentle/obj
/Webgentle/.vs/Webgentle
